<h1>Вопросы</h1>

<% @questions.inspect %>

<% @questions.each do |question| %>
  <h2><%= question.title %></h2>

  <time datetime="<%= question.formatted_created_at %>">
    <%= question.formatted_created_at %>
  </time>

  <p>
    <%= question.body %>
    <br>
    <%= link_to "Показать", question_path(question) %> |
    <%= link_to "Редактировать", edit_question_path(question) %> |
    <%= link_to "Удалить", question_path(question), data: {turbo_method: :delete, turbo_confirm: 'Вы уверены, что хотите удалить вопрос?'} %>
  </p>
<% end %>
