<article class="mb-3 card">
  <div class="card-body">
    <section class="card-text">
      <small><time datetime="<%= answer.formatted_created_at %>">
        <%= answer.formatted_created_at %>
      </time></small>

      <div class="mt-2 mb-3">
        <%= sanitize answer.body %>
      </div>
    </section>

    <%= link_to 'Редактировать', edit_question_answer_path(question, answer), 
      class: 'btn btn-secondary btn-sm' %>
    <%= link_to 'Удалить', question_answer_path(question, answer), class: 'btn btn-danger btn-sm',
      data: {method: :delete, confirm: "Вы уверены, что хотите удалить ответ?"} %>
  </div>
</article>